<html>
	<form action="" method="post">
		<label>Insert terms to search for:</label><br>
		<input type="text" id="query1" name = "query1" placeholder = "Query 1"><br>
		<input type="text" id="query2" name = "query2" placeholder = "Query 2"><br>
		<input type="text" id="query3" name = "query3" placeholder = "Query 3"><br>
		<input type="text" id="query4" name = "query4" placeholder = "Query 4"><br>
		<input type="text" id="query5" name = "query5" placeholder = "Query 5"><br>
		<label>Insert tags of texts to search from:</label><br>
		<select name="tag" class='input'>
		{% for tag in tags %}
			<option value="{{tag}}">{{tag}}</option>
		{% endfor %}
		</select><br>
		<input type="submit" name="plot" value="Plot">
		<input type="submit" name="raw_matches" value="View Raw Matches">

	</form>
</html>
